/**Tag Selectors**/

body {
  background-color: #202020;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

h2 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

div {
  margin: 0 auto;
}

img {
  width: 200px;
  height: 200px;
  position: relative;
}

li {
  margin-top: 10px;
  color: #8a8a8a;
}


/**Class Selectors**/

.top-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 100px;

}

.top-container {
  color: #D3D3D3;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.middle-container {
  width: 50rem;
  height: auto;
  color: #8a8a8a;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}

.mountain {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 100px;
}

.skills {
  color: #D3D3D3;
  font-family: 'Montserrat', sans-serif;
  width: 75rem;
  height: auto;

}
.skills-head {
  margin-top: 50px;
  font-size: 2rem;
}

.title {
  text-align: left;
  margin-bottom: 0;
  color: #8a8a8a;
}

.company {
  margin-top: 0;
  margin-bottom: 0;
  color: #8a8a8a;
}

.date {
  margin-top: 0;
  margin-bottom: 0;
  color: #8a8a8a;
}

.tasks {
  margin-top: 10px;
  margin-bottom: 0;
}

.skill {
  color: #D3D3D3;
  text-align: left;
  margin-bottom: 0;
}

.bottom {
margin-bottom: 100px;
justify-content: center;
}

/**ID Selectors**/
